/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@300;400;700&display=swap");
/* Custom properties */
:root {
  --light-color: #fff;
  /* --dark-color: #171721; */
  --dark-color: #000000;
  --dark-color-lighter: #7e8299;
  --main-color: #eb6123;
  --body-background-color: #202028;
  --border-bottom-color: rgba(255, 255, 255, 0.05);
  --transparent-button-color: rgba(255, 255, 255, 0.1);
  --font-size-x-small: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size-normal: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-large: 2.4rem;
  --font-size-x-large: 3rem;
  --font-family: "Poppins", sans-serif;
  --main-font-famaily: "Nosifer", cursive;
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-medium: 2.5rem;
}

.theme-light {
  --light-color: #171721;
  --dark-color: #fff;
  --dark-color-lighter: #7e8299;
  --body-background-color: #eef0f8;
  --border-bottom-color: rgba(23, 23, 23, 0.05);
  --transparent-button-color: var(--accent-color);
}
/* Base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*Font size as a percentage helps when zooming in and out*/
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  color: var(--light-color);
  line-height: 1.5;
  background-color: var(--body-background-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

i {
  font-size: var(--font-size-large);
  line-height: 0;
}
/* Reusable classes */
.container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(23, 23, 23, 1);
  z-index: 999;
  font-size: 3rem;
  font-family: var(--main-font-famaily);
  color: red;
  opacity: 1;
  transition: opacity 1s ease;
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
  transition: opacity 0.25s ease;
}

@keyframes dots {
  to {
    width: 3.25rem;
  }
}
/* Floating background image */
.floating-bg-image {
  background: rgb(235, 97, 35);
  background: linear-gradient(90deg, rgba(235, 97, 35, 1) 11%, rgba(182, 62, 8, 1) 75%);
  width: 100%;
  height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Header */
.header {
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: 20;
  /* transition: background-color 0.25s ease height 0.25s ease; */
}

.header.active {
  height: 6.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
}

.nav {
  height: 6rem;
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--main-font-famaily);
  font-weight: bold;
  font-size: var(--font-size-small);
}

.logo span {
  color: var(--main-color);
}

.align-right {
  margin-left: auto;
  background-color: var(--main-color);
  border-radius: 0.4rem;
}

.icon-btn {
  width: 3.5rem;
  height: 3.5rem;
}

.theme-dark-icon {
  display: none;
}

.nav-mobile {
  width: 100%;
  height: 100vh;
  background-color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5rem;
  transform: translateX(-105%);
  z-index: 20;
  transition: transform 0.5s;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.list-link {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: var(--font-size-small);
  color: var(--dark-color-lighter);
}

.current {
  color: var(--dark-color);
}

.menu-toggle-close {
  background-color: var(--body-background-color);
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}

.fa-angle-right {
  margin-left: 1rem;
}

.dropdown-menu {
  background-color: var(--main-color);
  gap: 0;
  border-radius: 0.4rem;
  margin-left: 1.5rem;
  transform: translateY(-3px);
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.25s;
}

.dropdown-menu .list-link {
  color: #fff;
}

.dropdown > list-link i {
  transition: transform 0.25s;
}
/* JavaScript styles */
.nav-mobile.active {
  transform: translateX(0);
}

.dropdown.active .list-link {
  color: var(--dark-color);
}

.dropdown.active .list-link:hover {
  color: var(--dark-color);
}

.theme-light .theme-dark-icon {
  display: block;
}

.theme-light .theme-light-icon {
  display: none;
}

.dropdown.active > .list-link i {
  transform: rotate(90deg);
}

.dropdown.active .dropdown-menu {
  height: initial;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Welcome Section */
.welcome-section {
  margin-top: 10rem;
}
.card {
  background: var(--dark-color);
  padding: 2.5rem;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(82, 63, 105, 0.05);
}

.card-header {
  padding-block: 1rem;
  margin-bottom: var(--margin-medium);
  border-bottom: 1px solid var(--border-bottom-color);
}

.card-header small {
  font-size: var(--font-size-x-small);
  color: #7e8299;
  letter-spacing: 2px;
}

.title {
  font-size: var(--font-size-medium);
  margin-bottom: var(--margin-small);
}

.title span {
  font-family: var(--main-font-famaily);
}

.title-main {
  font-size: var(--font-size-x-large);
}

.title-secondary {
  font-size: var(--font-size-medium);
  color: #7e8299;
}

.company-name {
  font-family: var(--main-font-famaily);
}

.company-name span {
  color: var(--main-color);
}

.card-image {
  border-radius: 0.4rem;
}

.card-image img {
  padding: 2.5rem;
  border-radius: 0.4rem;
}

.card-description {
  font-size: var(--font-size-small);
  margin-bottom: var(--margin-small);
}

.welcome-section {
  margin-bottom: 2rem;
}

.welcome-section .list-link {
  background: var(--main-color);
  color: var(--dark-color);
  text-transform: uppercase;
  transition: opacity 0.25s ease;
}

.welcome-section .list-link:hover {
  opacity: 0.8;
}
/* Quick Links Section */
.quick-links-area {
  padding-block: 2.5rem;
}

.quick-links-area-container,
.card-group {
  gap: var(--gap-medium);
}

.card-body-link {
  font-size: var(--font-size-small);
  background-color: var(--main-color);
  margin-bottom: var(--margin-medium);
  padding: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.card-group .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 17.5rem;
  border-radius: 0.4rem;
}

.card-group .card::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -2px;
  right: -2px;
  z-index: -1;
  border-radius: inherit;
}

.border-orange::after {
  background-image: linear-gradient(235deg, var(--main-color), transparent, var(--dark-color));
}

.card-group .card-description {
  margin-bottom: var(--margin-medium);
}

.card-group .list-link {
  background-color: var(--transparent-button-color);
  color: var(--light-color);
}

/* Guest Section */
.guest-section {
  margin: 2rem 0;
}

.guest-section .card-group .card .event-info {
  text-align: center;
}

.guest-section .card-group .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guest-section .card-group .card .card-description {
  text-align: center;
}

/* Tickets Page */
.price-group {
  justify-content: center;
  width: 100%;
}
.d-grid {
  gap: 1rem;
}
.price-card {
  border-radius: 0.4rem;
  width: 35rem;
  background: #fff;
  color: #000000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 4rem rgba(23, 23, 23, 0.2);
}

.price-card h2 {
}

.price-card small {
  margin-bottom: 1rem;
}

.price-card h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.price-card h1 span {
  position: absolute;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.price-card ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.price-card ul li {
  margin-bottom: 1rem;
  display: flex;
}

.price-card ul li i {
  margin-right: 1rem;
}

.price-card button {
  background: var(--main-color);
  padding: 1rem 1.5rem;
  display: inline-block;
  width: 80%;
  color: #fff;
  transition: opacity 0.2s ease;
  border-radius: 5rem;
}

.price-card button:hover {
  opacity: 0.8;
}

.price-card.primary {
  background: var(--main-color);
  /* color: #fff; */
}

.price-card.primary button {
  background: #fff;
  color: #000000;
}

/* Footer */
.footer {
  font-size: var(--font-size-small);
  color: var(--dark-color-lighter);
  background-color: var(--dark-color);
  padding: 1.5rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-smal);
}

.footer .list {
  flex-direction: row;
  margin-bottom: 1rem;
}

/* .footer .list-link {
  padding-left: 0;
} */

.copyright-information {
  order: 1;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #3f4254;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2e303b;
}
/* Media queries */
@media screen and (min-width: 768px) {
  .nav {
    height: 7rem;
  }

  .card-body {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--gap-medium);
    padding-block: 2.5rem;
  }

  .card-image {
    padding: 0;
  }

  .card-image img {
    max-width: 80%;
    margin: auto;
  }

  .quick-links-area-container {
    grid-template-columns: 35rem 1fr;
  }

  .footer-container {
    flex-direction: row;
    align-items: center;
  }

  .copyright-information {
    order: 0;
  }

  .footer .list {
    margin-left: auto;
  }

  .footer .list-link {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    font-size: var(--font-size-large);
  }
  .menu-toggle-btn {
    display: none !important;
  }

  .nav-mobile {
    width: initial;
    height: initial;
    background-color: initial;
    position: initial;
    padding: initial;
    transform: initial;
    transition: initial;
  }

  .nav-mobile > .list {
    flex-direction: row;
    margin-left: 4rem;
  }

  .list-link,
  .card-body-link {
    transition: color 0.25s, background-color 0.25s;
  }

  .nav-mobile .list-link {
    border-radius: 0.4rem;
  }

  .current,
  .nav-mobile .list-link:hover,
  .nav-mobile .list-link:focus {
    background-color: var(--main-color);
    color: var(--light-color);
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    width: 25rem;
    height: initial;
    background-color: var(--light-color);
    padding: 1.5rem;
    margin-left: 0;
    border-radius: 0.4rem;
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--dark-color);
    transform: translateY(0.8rem);
    box-shadow: 0 0 3rem rgba(23, 23, 23, 0.2);
    transition: transform 0.25s, opacity 0.25s;
  }

  .dropdown.active .dropdown-menu {
    transform: translateY(1.5rem);
  }

  .dropdown-menu .list-link {
    display: block;
  }

  .card-body-link:hover {
    background-color: #f19369;
  }

  .guest-section .guest-section-area .card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-group.home-card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-group.home-card-group .card:first-child {
    grid-column: 1/-1;
  }

  .card-group.home-card-group .card:nth-child(2),
  .card-group.home-card-group .card:nth-child(3) {
    grid-column: 1/2;
  }

  .card-group.home-card-group .card:last-child {
    grid-column: 2/-1;
    grid-row: 2/4;
  }
}
